* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2D8C44;
    display: flex;
    justify-content: center;
    align-items: center;
}

#solitaire-board {
    width: 60%;
}

#status-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.3);
}

.top-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 1rem 0;
}

#foundation {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#waste {
    grid-column: 6 / 7;
}

#hand {
    grid-column: 7 / 8;
    position: relative;
}

#tableau {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.deck {
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 764px) {
    #solitaire-board {
        width: 100%;
    }
}